.vscode/
**/*.dSYM
**/*.o
**/*.out
**/*.s
**/__Pycache__
**/temp*
build/sjc
**/.DS_Store
src/build/lex.yy.h
src/build/lex.yy.c
src/build/parser.h
src/build/parser.c
src/build/sjc
src/heap/emit_alloc_fflist.c
src/heap/emit_fflist.c
src/heap/main